@import "../../global/general.css";

html, body {
    width: 100vw;
    min-height: 100vh;
    background-color: #17181A;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}